<!-- Kind of footer -->

<!-- <div className="row p-t-135">
  <div className="col-sm-8 col-md-4 col-lg-4 m-l-r-auto p-t-30">
    <div className="dis-flex m-l-23">
      <div className="p-r-40 p-t-6">
        <img src="assets/images/icons/map-icon.png" alt="IMG-ICON" />
      </div>

      <div className="flex-col-l">
        <span className="txt5 p-b-10">Location</span>

        <span className="txt23 size38">
          8th floor, 379 Hudson St, New York, NY 10018
        </span>
      </div>
    </div>
  </div>

  <div className="col-sm-8 col-md-3 col-lg-4 m-l-r-auto p-t-30">
    <div className="dis-flex m-l-23">
      <div className="p-r-40 p-t-6">
        <img src="assets/images/icons/phone-icon.png" alt="IMG-ICON" />
      </div>

      <div className="flex-col-l">
        <span className="txt5 p-b-10">Call Us</span>

        <span className="txt23 size38">(+1) 96 716 6879</span>
      </div>
    </div>
  </div>

  <div className="col-sm-8 col-md-5 col-lg-4 m-l-r-auto p-t-30">
    <div className="dis-flex m-l-23">
      <div className="p-r-40 p-t-6">
        <img src="assets/images/icons/clock-icon.png" alt="IMG-ICON" />
      </div>

      <div className="flex-col-l">
        <span className="txt5 p-b-10">Opening Hours</span>

        <span className="txt23 size38">
          09:30 AM – 11:00 PM <br />
          Every Day
        </span>
      </div>
    </div>
  </div>
</div> -->
